body{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
}
.board{
    background-color:black;
    color:white;
    position:relative;
    width: 46rem;
    height:46rem;
    text-align:center;
    border-collapse:collapse;
}
.cell{
    width:4.875rem;
    height:4.875rem;
}
table.board tr:nth-child(even) td:nth-child(odd),table.board tr:nth-child(odd) td:nth-child(even) {
    background-color:white;
    color:black;
}
table.board tr:last-child th {
    border-top:solid 0.1rem white;
    border-right:solid 0.1rem white;
}
.piece{
    color:rgb(76, 74, 74);
    font-size:3rem;
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    width:5rem;
    height:5rem;
    z-index:2;
}
.black-pawn-one{
    top:5rem;
    left:0rem;
}
.black-pawn-two{
    top:5rem;
    left:5rem;
}
.black-pawn-three{
    top:5rem;
    left:10rem;
}
.black-pawn-four{
    top:5rem;
    left:15rem;
}
.black-pawn-five{
    top:5rem;
    left:20rem;
}
.black-pawn-six{
    top:5rem;
    left:25rem;
}
.black-pawn-seven{
    top:5rem;
    left:30rem;
}
.black-pawn-eight{
    top:5rem;
    left:35rem;
}
.white-pawn-one{
    top:30rem;
    left:0rem;
}
.white-pawn-two{
    top:30rem;
    left:5rem;
}
.white-pawn-three{
    top:30rem;
    left:10rem;
}
.white-pawn-four{
    top:30rem;
    left:15rem;
}
.white-pawn-five{
    top:30rem;
    left:20rem;
}
.white-pawn-six{
    top:30rem;
    left:25rem;
}
.white-pawn-seven{
    top:30rem;
    left:30rem;
}
.white-pawn-eight{
    top:30rem;
    left:35rem;
}